@define-color background #000000;
@define-color cursor #ff1a67;
@define-color foreground #f0f0f5;
@define-color main-black #181818;
@define-color main-blue #29adff;
@define-color main-bright-black #252525;
@define-color main-bright-blue #c7b8ff;
@define-color main-bright-cyan #00fff9;
@define-color main-bright-green #4bfe9b;
@define-color main-bright-magenta #ff4294;
@define-color main-bright-red #ff1a67;
@define-color main-bright-white #e7e7e7;
@define-color main-bright-yellow #fd7cff;
@define-color main-cyan #00a8a4;
@define-color main-green #02b17c;
@define-color main-magenta #a80065;
@define-color main-red #ff004b;
@define-color main-white #505050;
@define-color main-yellow #7c60d1;
@define-color marks-mark1-bg #00fff9;
@define-color marks-mark1-fg #222222;
@define-color marks-mark2-bg #c7b8ff;
@define-color marks-mark2-fg #222222;
@define-color marks-mark3-bg #fd7cff;
@define-color marks-mark3-fg #222222;
@define-color nvim-ai-ai-hint #7c7e93;
@define-color nvim-ai-codeium-suggestion #6b7089;
@define-color nvim-base-base00 #101010;
@define-color nvim-base-base01 #171717;
@define-color nvim-base-base02 #1e1e1e;
@define-color nvim-base-base03 #252525;
@define-color nvim-base-base04 #2c2c2c;
@define-color nvim-base-base05 #d8d9dd;
@define-color nvim-base-base06 #d2d3d7;
@define-color nvim-base-base07 #cccdd1;
@define-color nvim-base-base08 #ffb20f;
@define-color nvim-base-base09 #ff004d;
@define-color nvim-base-base0A #be620a;
@define-color nvim-base-base0B #00e756;
@define-color nvim-base-base0C #29adff;
@define-color nvim-base-base0D #c54bcf;
@define-color nvim-base-base0E #ff4394;
@define-color nvim-base-base0F #444444;
@define-color nvim-bg #101010;
@define-color nvim-bg-dark #171717;
@define-color nvim-bg-float #171717;
@define-color nvim-bg-highlight #1e1e1e;
@define-color nvim-bg-popup #171717;
@define-color nvim-bg-search #1e1e1e;
@define-color nvim-bg-sidebar #171717;
@define-color nvim-bg-statusline #171717;
@define-color nvim-bg-visual #1e1e1e;
@define-color nvim-black #101010;
@define-color nvim-blue #29adff;
@define-color nvim-border #252525;
@define-color nvim-comment #444444;
@define-color nvim-cyan #29adff;
@define-color nvim-dark3 #1e1e1e;
@define-color nvim-dark5 #252525;
@define-color nvim-fg #d8d9dd;
@define-color nvim-fg-dark #d2d3d7;
@define-color nvim-fg-gutter #252525;
@define-color nvim-fg-sidebar #cccdd1;
@define-color nvim-git-add #00e756;
@define-color nvim-git-change #29adff;
@define-color nvim-git-delete #ff004d;
@define-color nvim-git-ignore #252525;
@define-color nvim-green #00e756;
@define-color nvim-magenta #c54bcf;
@define-color nvim-orange #be620a;
@define-color nvim-purple #ff4394;
@define-color nvim-red #ff004d;
@define-color nvim-telescope-border-fg #252525;
@define-color nvim-telescope-normal-bg #171717;
@define-color nvim-telescope-prompt-bg #252838;
@define-color nvim-telescope-prompt-fg #d2d3d7;
@define-color nvim-terminal-black #1e1e1e;
@define-color nvim-yellow #ffb20f;
@define-color tabs-active-bg #6b0060;
@define-color tabs-active-fg #dbd1ff;
@define-color tabs-bar-bg #111111;
@define-color tabs-bar-margin #181818;
@define-color tabs-inactive-bg #181818;
@define-color tabs-inactive-fg #7c60d1;
@define-color terminal-color0 #181818;
@define-color terminal-color1 #ff004b;
@define-color terminal-color10 #4bfe9b;
@define-color terminal-color11 #fd7cff;
@define-color terminal-color12 #c7b8ff;
@define-color terminal-color13 #ff4294;
@define-color terminal-color14 #00fff9;
@define-color terminal-color15 #e7e7e7;
@define-color terminal-color2 #02b17c;
@define-color terminal-color3 #7c60d1;
@define-color terminal-color4 #29adff;
@define-color terminal-color5 #a80065;
@define-color terminal-color6 #00a8a4;
@define-color terminal-color7 #505050;
@define-color terminal-color8 #252525;
@define-color terminal-color9 #ff1a67;
@define-color ui-active-border #29adff;
@define-color ui-bell-border #ff004b;
@define-color ui-hover-bg #222222;
@define-color ui-hover-fg #f4feff;
@define-color ui-selection-bg #2c2c2c;
@define-color ui-selection-fg #37feff;
@define-color ui-url #29adff;
